.bundle
.git
.github
.devcontainer
.vscode
.env
.env.*
docker-compose.*
docker/Dockerfile
docker/dockerfiles
log
storage
public/system
tmp
.codeclimate.yml
public/packs
node_modules
vendor/bundle
coverage
.cache
.pnpm-store
.DS_Store
*.swp
*~
